<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <!-- CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h1>Bem Vindo Aluno!</h1>
        <p>Faça login para acessar seu boletim</p>

        <form method="POST">

            <inputtype="text" name="usuario" placeholder="Usuário" required>

                <input type="password" name="senha" placeholder="Senha" required>

                <button type="submit">Entrar</button>

        </form>

        {% if erro %}
        <p class="erro">{{ erro }}</p>
        {% endif %}

    </div>

</body>

</html>